body {
  font-family: 'Cairo', sans-serif;
  background-color: #f8f9fa;
}

/* .Main:hover{
  transition: 2s all;
  box-shadow: 3px 8px 8px;
} */
.btn2 {
  background: #e6e5ea;
  color: black;
}

.btn2:hover {
  color: white;
}

.navbar {
  font-family: 'Cairo', sans-serif;
}

.nav-link {
  border-radius: 8px;
  transition: 0.2s ease;
}

.nav-link:hover {
  background-color: #f3f4f6;
  color: #3b82f6 !important;
}

.nav-custom {
  color: #8c8c8c;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.25s ease;
}

.nav-custom:hover {
  color: #0d6efd;
}

.home-icon {
  color: #0d6efd;
  font-size: 22px;
}
nav {
  position: relative;
  bottom: 20px;
}

img{
  width: 100%;
  height: 100%;
}