* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

section {
    display: flex;
}

.nav-link:hover {
    background-color: #f3f4f6;
    color: #3b82f6 !important;
}

.nav-custom:hover {
    color: #0d6efd;
}

.nav-link {
    transition: all 0.2s ease;
    border-radius: 8px;
}

nav {
  position: relative;
  bottom: 20px;
}

.parent {

    background-color: whitesmoke;

}

.small-card {

    width: 300px;
    height: 450px;
    border-radius: 15px;
    padding: 30px;
}

.filter {

    font-size: 20px;

}

.des {

    font-size: 12px;
    color: gray;
    max-width: 200px;

}

.form-select {

    border-radius: 25px;

}


.dist {

    font-size: 13px;

}
